<header class="header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="{{#if lang == 'es'}}/{{else}}/{{lang}}/{{/if}}" class="logo">
          <span class="logo-text">Weed Madrid</span>
        </a>
      </div>
      
      <div class="navbar-menu" id="navbarMenu">
        <ul class="navbar-nav">
          <li><a href="{{#if lang == 'es'}}/clubes/{{else}}/{{lang}}/clubes/{{/if}}" class="nav-link">{{#if lang == 'es'}}Clubes{{else if lang == 'en'}}Clubs{{else}}Clubes{{/if}}</a></li>
          <li><a href="{{#if lang == 'es'}}/como-unirse/{{else}}/{{lang}}/como-unirse/{{/if}}" class="nav-link">{{#if lang == 'es'}}Cómo Unirse{{else if lang == 'en'}}How to Join{{else}}Cómo Unirse{{/if}}</a></li>
          <li><a href="{{#if lang == 'es'}}/preguntas-frecuentes/{{else}}/{{lang}}/preguntas-frecuentes/{{/if}}" class="nav-link">{{#if lang == 'es'}}Preguntas Frecuentes{{else if lang == 'en'}}FAQ{{else}}Preguntas Frecuentes{{/if}}</a></li>
          <li><a href="{{#if lang == 'es'}}/precios/{{else}}/{{lang}}/precios/{{/if}}" class="nav-link">{{#if lang == 'es'}}Precios{{else if lang == 'en'}}Prices{{else}}Precios{{/if}}</a></li>
          <li><a href="{{#if lang == 'es'}}/para-turistas/{{else}}/{{lang}}/para-turistas/{{/if}}" class="nav-link">{{#if lang == 'es'}}Para Turistas{{else if lang == 'en'}}For Tourists{{else}}Para Turistas{{/if}}</a></li>
        </ul>
        
        <div class="navbar-language">
          <select class="language-select" id="langSelect">
            <option value="/es/" {{#if lang == 'es'}}selected{{/if}}>ES</option>
            <option value="/en/" {{#if lang == 'en'}}selected{{/if}}>EN</option>
            <option value="/fr/" {{#if lang == 'fr'}}selected{{/if}}>FR</option>
            <option value="/it/" {{#if lang == 'it'}}selected{{/if}}>IT</option>
            <option value="/de/" {{#if lang == 'de'}}selected{{/if}}>DE</option>
            <option value="/pt/" {{#if lang == 'pt'}}selected{{/if}}>PT</option>
          </select>
        </div>
      </div>
      
      <div class="navbar-toggle" id="navbarToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
</header>